.advantages {
  display: flex;

  padding-bottom: 36px;

  @include tablet {
    padding-bottom: 40px;
  }
  @include desktop {
    padding-bottom: 82px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    gap: 80px;
  }
  @include desktop {
    gap: 32px;
  }
}
.advantages__item {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  // @include mobile{
  //     max-width: 230px;
  // }
  // @include tablet{
  //     width: 152px;
  // }
  // @include tablet{
  //     width: 368px;
  // }

  &:nth-child(1) {
    margin-bottom: 28px;

    @include tablet {
      margin-bottom: 0;
    }
  }
  &:nth-child(2) {
    margin-bottom: 22px;

    @include tablet {
      margin-bottom: 0;
    }
  }
}

.advantages__numbers {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin: 0 auto 18 auto;
  display: block;
  text-align: center;

  @include tablet {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.22;
  }
  @include desktop {
    font-size: 58px;
  }
}

.advantages__numbers-cow {
  &::before {
    content: ' ';
    background-color: #f8d24e;
    background-image: url(../images/coww-1x.png);
    background-size: 36px 36px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 16 auto;

    @include tablet {
      margin-bottom: 32px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
    @include retina {
      background-image: url(../images/coww-2x.png);
    }
  }
}
.advantages__numbers-weight {
  &::before {
    content: ' ';
    background-color: #f8d24e;
    background-image: url(../images/weightt-1x.png);
    background-size: 36px 36px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 16 auto;

    @include tablet {
      margin-bottom: 32px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
    @include retina {
      background-image: url(../images/weightt-2x.png);
    }
  }
}

.advantages__numbers-ice-cream {
  &::before {
    content: ' ';
    background-color: #f8d24e;
    background-image: url(../images/ice-creamm-1x.png);
    background-size: 17px 36px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 22 auto;

    @include tablet {
      margin-bottom: 32px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
    @include retina {
      background-image: url(../images/ice-creamm-2x.png);
    }
  }
}
.advantages__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  color: var(--light-text-color);
  margin: 0 auto;
  max-width: 230px;

  @include tablet {
    width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }
  @include desktop {
    width: 368px;
    font-size: 16px;
    line-height: 176%;
  }
}
