.page-footer {
    background-color: var(--primary-bg-color);
}

.page-footer__label {
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: start;
    text-transform: uppercase;
    color: var(--light-text-color);
}

.page-footer__title {
    font-weight: 700;
    font-size: 34px;
    line-height: calc(41 / 34);
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.page-footer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
 
.page-footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.social-icon {
    width: 19px;
    height: 19px;
    fill: currentColor;
}

.page-footer__text {
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22 / 12);
    text-align: right;
    color: var(--dark-text-color);
}

.page-footer__phone {
color: var(--light-text-color);
}

.page-footer__сopyright {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: center;
    color: #7A7A7A;
}
    

// .section__lable {
//     margin-bottom: 12px;

//     font-weight: 800;
//     font-size: 18px;
//     line-height: calc(22 / 18);
//     letter-spacing: 0;
//     text-align: center;
//     text-transform: uppercase;

//     @media screen and (min-width: 768px) {
//         font-size: 22px;
//         line-height: calc(27 / 22);
//     }

//     @media screen and (min-width: 1200px) {
//         font-size: 30px;
//         line-height: calc(37 / 30);
//         letter-spacing: 0.04em;
//     }
// }