.section__gallery {
  padding-top: 0;
  padding-bottom: 0;
  // margin-top: -24px;
  // margin-bottom: -106px;
}

// @media screen and (min-width: 768px) {
//   .section__gallery {
//     margin-top: -164px;
//     margin-bottom: -163px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .section__gallery {
//     margin-top: -94px;
//     margin-bottom: -328px;
//   }
// }

.slider {
  max-width: 80%;
  margin: 20px auto;
  overflow: hidden;
}

.slider-line {
  width: 1013px;
  display: flex;
  position: relative;
  z-index: 2;
  left: 0;
  transition: all ease 1s;
  border-radius: 24px;
}

.slider-line img {
  border-radius: 24px;
}
