.section__gallery {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -106px;
}

@media screen and (min-width: 768px) {
  .section__gallery {
    margin-bottom: -163px;
  }
}

@media screen and (min-width: 1200px) {
  .section__gallery {
    margin-bottom: -328px;
  }
}

.slider {
  max-width: 350px;
  max-height: 130px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    max-width: 704px;
    max-height: 327px;
    border-radius: 24px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1013px;
    max-height: 422px;
  }
}

.slider-line {
  width: 1013px;
  display: flex;
  position: relative;
  z-index: 2;
  left: 0;
  transition: all ease 1s;
}

.slider-line img {
  max-width: 100%;
}
