.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #84a1789d;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0%);
  transition: visibility var(--transition-duration-timing-func),
    transform var(--transition-duration-timing-func),
    opacity var(--transition-duration-timing-func);
}
.is-open {
  z-index: 9;
  opacity: 1;
  visibility: visible;
  transform: scale(100%);
  pointer-events: auto;
  overflow: hidden;
  transition: visibility var(--transition-duration-timing-func),
    transform var(--transition-duration-timing-func),
    opacity var(--transition-duration-timing-func);
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
  padding: 30px;
  background-color: var(--light-text-color);
  border-radius: 10px;
  border: 2px solid #f8d24e;
  color: var(--dark-text-color);
}

.modal-close-btn {
  padding: 4px 4px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius var(--transition-duration-timing-func),
    border var(--transition-duration-timing-func),
    box-shadow var(--transition-duration-timing-func);

  &:hover,
  &:focus {
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(233, 17, 17, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.modal__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.modal__title--buy-nov {
  margin-bottom: 84px;
}
.buy-now-modal__list {
  display: flex;
  flex-direction: column;
  gap: 84px;
  align-items: center;
  margin-bottom: 24px;
}
.buy-now-modal__item {
  width: 132px;
  display: flex;
}
.buy-now-modal__lable {
  width: 100%;
}
.buy-now-modal__radio--classik {
  appearance: none;
  position: absolute;
}

.buy-now-modal__radio {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding-top: 96px;
  padding-bottom: 20px;
  cursor: pointer;
}
.buy-now-modal__radio--icecream {
  border: 2px solid #96af8c;
  border-radius: 16px;
  transition: background-color var(--transition-duration-timing-func);
  .buy-now-modal__radio--classik:checked + & {
    background-color: #96af8c;
  }

  &:hover,
  &:focus {
    background-color: #96af8c;
  }
}
.buy-now-modal__radio--icecofee {
  border: 2px solid #efd478;
  background-color: transparent;
  border-radius: 16px;
  transition: background-color var(--transition-duration-timing-func);
  .buy-now-modal__radio--classik:checked + & {
    background-color: #efd478;
  }

  &:hover,
  &:focus {
    background-color: #efd478;
  }
}
.buy-now-modal__radio--milkshake {
  border: 2px solid #d6936d;
  background-color: transparent;
  border-radius: 16px;
  transition: background-color var(--transition-duration-timing-func);
  .buy-now-modal__radio--classik:checked + & {
    background-color: #d6936d;
  }

  &:hover,
  &:focus {
    background-color: #d6936d;
  }
}
.buy-now-modal__img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-1%, -48%);
  display: block;
  line-height: 0;
  border-radius: 50%;
  border: none;
  overflow: hidden;
}
.buy-now-modal__img--icecream {
  box-shadow: 0px 7.5px 0px 0px #9cbe8f;
}
.buy-now-modal__img--icecofee {
  box-shadow: 0px 7.5px 0px 0px #f8d24e;
}
.buy-now-modal__img--milkshake {
  box-shadow: 0px 7.5px 0px 0px #d5753f;
}
.buy-now-modal__txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.modal-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.input__field,
.comment__txt {
  width: 224px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  transition: background-color var(--transition-duration-timing-func);
  &:required:invalid:not(:placeholder-shown) {
    background-color: tomato;
  }
  &:required:valid:not(:placeholder-shown) {
    background-color: #84a178;
  }
}
.comment__txt {
  margin-bottom: 25px;
  height: 65px;
  resize: none;
}
.modal-btn-block {
  display: flex;
  justify-content: center;
}
.modal-btn {
  transition: background-color var(--transition-duration-timing-func),
    color var(--transition-duration-timing-func);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--light-text-color);
  }
}

.modal.product-modal {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.product-modal__picture {
  margin-top: 22px;
}
.product-modal__img {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 31px;
  box-shadow: 0px 7.5px 0px 0px #9cbe8f;
}
.product-characteristics-list {
  width: 100%;
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  gap: 9px;
  margin-bottom: 39px;
}
.product-characteristics-list__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 28px) / 4);
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.product-characteristics-list__value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #9cbe8f;
  margin-top: -2px;
  margin-bottom: 10px;
}
.ingredients {
  width: 100%;
  margin-bottom: 48px;
}
.ingredients__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 24px;
}
.ingredients__list {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.ingredients__content {
  display: flex;
  justify-content: space-between;
}
.modal.franchise-modal {
  padding-left: 25px;
  padding-right: 25px;
}
.franchise-modal__txt {
  margin-top: 20px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
.franchise-modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.comment__txt {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 54px;
    padding-right: 54px;
  }
  .buy-now-modal__list {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
  .input__field,
  .comment__txt {
    width: 368px;
  }
  .modal.product-modal {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .product-characteristics-list {
    gap: 20px;
    justify-content: center;
  }
  .product-characteristics-list__item {
    flex-basis: calc((100% - 228px) / 4);
  }
  .product-characteristics-list__value {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #9cbe8f;
  }
  .modal.franchise-modal {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .modal__title {
    font-size: 20px;
    line-height: 1.4;
  }
  .franchise-modal__txt {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.4;
  }
}
