.section__lable--dark {
  margin-top: 0;
  color: var(--dark-text-color);
}
.section__title--dark {
  margin-bottom: 150px;
  color: var(--dark-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 300px;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .product__item:not(:last-child) {
    margin-bottom: 150px;
  }
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  border-radius: 24px;
  height: 420px;
  position: relative;

}
@media screen and (min-width: 768px) {
  .product__item {
    flex-basis: calc((100% - 32px) / 3);
    height: 428px;
    padding: 0 26px;
  }
}

@media screen and (min-width: 1200px) {
  .product__item {
    flex-basis: calc((100% - 64px) / 3);
    height: 535px;
    padding: 0 64px;
  }
}

.product__item::before {
  content: '';
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 250px;
  position: absolute;
  top: calc(-25% - 20px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 300px;
    top: calc(-30% - 20px);
      left: 50%;
      transform: translateX(-50%);
  }
  }

.product__item:nth-child(1)::before {
  background-image: url(../images/ice-cream-mobile.jpg);
  box-shadow: 0px 15px rgba(10, 136, 23, 0.25);
  background-color: #aec6a5;
  @media screen and (min-width: 768px) {
    background-image: url(../images/ice-cream-tablet.jpg);
  }
  @media screen and (min-width: 1200px){
    background-image: url(../images/ice-cream-desctop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .product__item:nth-child(1)::before {
    background-image: url(../images/ice-cream-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .product__item:nth-child(1)::before {
    background-image: url(../images/ice-cream-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .product__item:nth-child(1)::before {
    background-image: url(../images/ice-cream-desctop@2x.jpg);
  }
}

.product__item:nth-child(2)::before {
  background-image: url(../images/ice-coffe-mobile.jpg);
  box-shadow: 0px 15px rgba(153, 114, 23, 0.25);
  border-radius: 250px;
  @media screen and (min-width: 768px) {
      background-image: url(../images/ice-coffe-tablet.jpg);
    }
  
    @media screen and (min-width: 1200px) {
      background-image: url(../images/ice-coffe-desctop.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .product__item:nth-child(2)::before {
    background-image: url(../images/ice-coffe-mobile@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .product__item:nth-child(2)::before {
    background-image: url(../images/ice-coffe-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .product__item:nth-child(2)::before {
    background-image: url(../images/ice-coffe-desctop@2x.jpg);
  }
}

.product__item:nth-child(3)::before {
  background-image: url(../images/milkshake-mobile.jpg);
  box-shadow: 0px 15px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
      background-image: url(../images/milkshake-tablet.jpg);
    }
  
    @media screen and (min-width: 1200px) {
      background-image: url(../images/milkshake-desctop.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .product__item:nth-child(3)::before {
    background-image: url(../images/milkshake-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .product__item:nth-child(3)::before {
    background-image: url(../images/milkshake-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .product__item:nth-child(3)::before {
    background-image: url(../images/milkshake-desctop@2x.jpg);
  }
}
.product__item:nth-child(1) {
  background-color: #aec6a5;
}
.product__item:nth-child(2) {
  background-color: #efd478;
}

.product__item:nth-child(3) {
  background-color: #d6936d;
}
.product__description {
  color: var(--dark-text-color);
  font-size: 14px;
  margin-top: 40px;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-top: 65px;
  }
}

.product {
  margin-top: 120px;
  @media screen and (min-width: 768px) {
    margin-top: 108px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 166px;
  }
}

.product__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-text-color);
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.product__btn {
  display: inline-block;
  border: none;
  background-color: inherit;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 0;

  @media screen and (min-width: 1200px){
    margin-bottom: 60px;
  }
}

.icon-btn:hover {
width: 50px;
height: 20px;
}
.icon-btn:focus {
  transform: scale(1.2);
}
