:root {
  --primary-bg-color: #84a178;

  --light-text-color: #fcfcfc;
  --dark-text-color: #131313;
  --accent-color: #f8d24e;
  --hover-color: #0a8817;
  --disabled-color: #ababab;
  --accent-secondary-color: #d6936d;
  --border-color:#e1e1e1;


  --transition-duration-timing-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
