<section class="section section--contact">
  <div class="container">
    <h2 id="contacts" class="section__title visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <p class="contacts__label">cafe</p>
        <p class="contacts__text">Chicago</p>
        <a class="contacts__text contacts__text--color" href="#"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <div class="contacts__box">
          <p class="contacts__text">Monday - Friday</p>
          <time
            class="contacts__text contacts__text--lighter"
            datetime="6:00-22:00"
            >06:00 AM - 10:00 PM</time
          >

          <p class="contacts__text">Saturday - Sunday</p>
          <time
            class="contacts__text contacts__text--lighter"
            datetime="6:00-16:00"
            >08:00 AM - 16:00 PM</time
          >
        </div>
        <a
          class="contacts__text contacts__text--address"
          href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >
        <a
          class="contacts__text contacts__text--address"
          href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__item">
        <p class="contacts__label">food truck</p>
        <p class="contacts__text">Los Angeles</p>
        <a class="contacts__text contacts__text--color" href="#"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <div class="contacts__box">
          <p class="contacts__text">Monday - Friday</p>
          <time
            class="contacts__text contacts__text--lighter"
            datetime="6:00-22:00"
            >06:00 AM - 10:00 PM</time
          >
          <p class="contacts__text">Saturday - Sunday</p>
          <time
            class="contacts__text contacts__text--lighter"
            datetime="6:00-16:00"
            >08:00 AM - 16:00 PM</time
          >
        </div>
        <a
          class="contacts__text contacts__text--address"
          href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >
        <a
          class="contacts__text contacts__text--address"
          href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__item">
        <p class="contacts__label">cafe</p>
        <p class="contacts__text">New York</p>
        <a class="contacts__text contacts__text--color" href="#"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="contacts__box">
          <p class="contacts__text">Monday - Friday</p>
          <time
            class="contacts__text contacts__text--lighter"
            datetime="6:00-22:00"
            >06:00 AM - 10:00 PM</time
          >
          <p class="contacts__text">Saturday - Sunday</p>
          <time
            class="contacts__text contacts__text--lighter"
            datetime="6:00-16:00"
            >08:00 AM - 16:00 PM</time
          >
        </div>
        <a
          class="contacts__text contacts__text--address"
          href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >
        <a
          class="contacts__text contacts__text--address"
          href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts__btn">
      <li>
        <button
          class="btn btn--our-locations"
          type="button"
          data-modalLocation-open
        >
          Our Locations
          <svg class="icon-btn" width="12" height="12">
            <use href="./images/icon.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          class="btn btn--franchise"
          type="button"
          data-modalfranchise-open
        >
          Franchise
          <svg class="icon-btn" width="12" height="12">
            <use href="./images/icon.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
