<section class="customer-review">

    <h3 class="visually-hidden">customer-review</h3>
    <div class="container">
        <ul class="customer">
            <li class="customer__item">
            <li class="customer__image">
                <img src="./images/customer/bryan.jpg" alt="bryan" width="85px">

            </li>
            <div class="customer__commentary">
                <p class="customer__subtitle">Every day we come to you with friends after classes in college. We love
                    your
                    ice cream
                    and casual
                    atmosphere!
                </p>
            </div>
            </li>
            <li class="customer__name">
                <p class="customer__text">Bryan, New-York</p>
            </li>
        </ul>


    </div>
    <div class="container">
        <ul class="customer">
            <li class="customer__item">
            <li class="customer__image">
                <img src="./images/customer/diana.jpg" alt="diana" width="85px">
            </li>
            <div class="customer__commentary">
                <p class="customer__subtitle">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
                    really
                    like the excellent service - always
                    served politely and quickly!

                </p>
            </div>
            </li>
            <li class="customer__name">
                <p class="customer__text">Diana, Chicago</p>
            </li>
        </ul>


    </div>
    <div class="container">
        <ul class="customer">
            <li class="customer__item">
            <li class="customer__image">
                <img src="./images/customer/sam.jpg" alt="sam" width="85px">
            </li>
            <div class="customer__commentary">
                <p class="customer__subtitle">I love eating popsicles on a hot day. Yours is always delicious. I
                    recommend
                    your
                    cafe to everyone I know.


                </p>
            </div>
            </li>
            <li class="customer__name">
                <p class="customer__text">Sam, Los Angeles</p>
            </li>
        </ul>


    </div>
    <div class="container">
        <ul class="customer list">
            <li class="customer__item">
            <li class="customer__image">
                <img src="./images/customer/emily.jpg" alt="emily" width="85px">
            </li>
            <div class="customer__commentary">
                <p class="customer__subtitle">I love visiting your cafe. You prepare the most delicious ice cream in Los
                    Angeles! In addition, you have beautiful
                    serving, cozy atmosphere and polite staff.

                </p>
            </div>
            </li>
            <li class="customer__name">
                <p class="customer__text">Emily, Los Angeles</p>
            </li>
        </ul>
    </div>

    <ul class="slider">
        <li class="slider__item">
            <button class="slider__button"></button>
        </li>
        <li class="slider__item">
            <button class="slider__button"></button>
        </li>
        <li class="slider__item">
            <button class="slider__button"></button>
        </li>
        <li class="slider__item">
            <button class="slider__button"></button>
        </li>
    </ul>
</section>