<footer class="page-footer">
    <div class="container page-footer__container">
        <div class="text-wrapper">
            <p class="page-footer__label section__lable">homemade ice cream made</p>
            <b class="page-footer__title">with passion</b>
        </div>
        <div class="link-wrapper">
            <ul class="page-footer__items">
                <li class="page-footer__item">
                    <a class="page-footer__social-link" href="https://github.com/" target="_blank"><svg aria-label="github" class="social-icon">
                            <use href="./images/icon.svg#icon-github"></use>
                        </svg></a>
                </li>
                <li class="page-footer__item">
                    <a class="page-footer__social-link" href="https://web.telegram.org/" target="_blank"><svg aria-label="telegram" class="social-icon">
                            <use href="./images/icon.svg#icon-telegram"></use>
                        </svg></a>
                </li>
                <li class="page-footer__item"><a class="page-footer__social-link" href="https://www.facebook.com/" target="_blank"><svg aria-label="facebook"
                            class="social-icon">
                            <use href="./images/icon.svg#icon-facebook"></use>
                        </svg></a></li>
            </ul>
            <p class="page-footer__text">Feel free to contact&nbsp;<a class="page-footer__phone"
                    href="tel:+610383766284">+61 (0) 383 766
                    284</a></p>
        </div>
    </div>
    <div class="copyright-wrapper">
        <p class="page-footer__copyright">&#169; 2022 - IceCream.
            All Rights Reserved.</p>
    </div>
</footer>