<section class="section__gallery">
  <div class="container">
    <div class="slider">
      <div class="slider-line">
        <img
          src="./images/brooke-lark-1.jpg"
          alt="lots of ice cream with different flavors in waffle cones"
        />
        <img
          src="./images/ice-nice.jpg"
          alt="delicious ice cream in waffle cones with fruit flavors"
        />
        <img
          src="./images/ice-mix.jpg"
          alt="colorful balls of ice cream laid out in a row"
        />
        <img
          src="./images/ice-fruits.jpg"
          alt="natural fruits in every cone of frost"
        />
      </div>
    </div>
  </div>
</section>
