<header class="page-header">
    <div page-header__container container>
        <a href="/src/index.html">
            <img src="/src/images/logo-page.png" alt="logo">
        </a>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="#">Home</a></li>
                <li class="menu__item"><a href="#">How it’s made?</a></li>
                <li class="menu__item"><a href="#">Our products</a></li>
                <li class="menu__item"><a href="#">Contact</a></li>
            </ul>
        </nav>

        <button class="btn btn--buy-now" type="button">
            Buy now
            <svg class="icon-btn" width="12" height="12">
                <use href="./images/icon.svg#icon-btn"></use>
            </svg>
        </button>
    </div>
    <button type="button" class="open-mobile-menu-btn">
        <svg class="open-mobile-menu-btn__icon">
            <use href="#"></use>
        </svg>
    </button>
    <div class="mobile-menu">
        <div class="container mobile-menu__container">
            <button class="mobile-menu__close-btn" type="button">

                <svg class="mobile-menu__close-btn-icon">
                    <use href=""></use>
                </svg>
            </button>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a class="link mobile-menu__link" href="#">Home</a></li>
                <li class="mobile-menu__item"><a class="link mobile-menu__link" href="#">How it’s made?</a>
                </li>
                <li class="mobile-menu__item"><a class="link mobile-menu__link" href="#">Our products</a>
                </li>
                <li class=mobile-menu__item><a class="link mobile-menu__link" href="#">Contact</a></li>

            </ul>
        </div>
    </div>
</header>