<header class="page-header">
    <a href="./index.html">
        <picture>
            <source srcset="./images/logo@1x.png 1x, ./images/logo@2x.png 2x,">
        </picture>
    </a>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item"><a href="#">Home</a></li>
            <li class="menu__item"><a href="#">How it’s made?</a></li>
            <li class="menu__item"><a href="#">Our products</a></li>
            <li class="menu__item"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <button class="btn btn--buy-now" type="button">
        Buy now
        <svg class="icon-btn" width="12" height="12">
            <use href="./images/icon.svg#icon-btn"></use>
        </svg>
    </button>
    <button type="button" class="open-mobile-menu-btn">
        <svg class="open-mobile-menu-btn__icon">
            <use href="#"></use>
        </svg>
        <div class="mobile-menu js-menu-container">
            <div class="container mobile-menu__container">
                <button class="close-mobile-menu-btn js-close-menu" type="button">

                    <svg class="close-mobile-menu-btn__icon">
                        <use href=""></use>
                    </svg>
                </button>
                <ul class="mobile-menu__nav-list">
                    <li class="mobile-menu__nav-item"><a class="link mobile-menu__nav-link mobile-menu__nav-link"
                            href=""></a></li>
                    <li class="mobile-menu__nav-item"><a class="link mobile-menu__nav-link" href=""></a>
                    </li>
                    <li class="mobile-menu__nav-item"><a class="link mobile-menu__nav-link" href=""></a>
                    </li>

                </ul>
            </div>
        </div>