<section>
    <div class="section-hero">
        <div class="hero-title">
            <h1 class="name">Ice cream<br>made with<br>passion</h1>
            <ul>
                <li class="right-text">
                    <span class="cafe">16</span>
                    <p class="name2">cafe</p>
                </li>
                <li class="right-text">
                    <span class="cafe">23</span>
                    <p class="name2">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero__btn">
            <button type="button">Products</button>
            <button type="button">How its made?</button>
        </div>
        <div class="plate">
            <img src="./images/icecream-plate.png" alt="Тарілка морозива">
            <p class="plate__text">Lorem ipsum dolor sit amet,<br>
                 consectetur adipiscing elit,<br>
                  sed do eiusmod tempor<br>
                   incididunt ut labore et</p>
                   <img class="hero__img" src="./images/icecream.png" alt="Морозиво">
                <picture>
                    <source srcset="./images/bubble.png 1x" media="(min-width: 1200px)" />
                    <source srcset="./images/bubble-tablet.png 1x" media="(min-width: 768px)" />
                    <source srcset="./images/bubble-mobile.png 1x" media="(max-width: 767px)" />
                    <img class="bubble" src="./images/bubble.png" alt="">
                </picture>
        </div>
        
    </div>
</section>