<section>
    <div class="container hero--conitaner">
        <div class="hero">
            <h1 class="hero__title">Ice cream<br>made with<br>passion</h1>
            <ul class="hero__list">
                <li class="hero__item">
                    <span>16</span>
                    <p class="hero__text">cafe</p>
                </li>
                <li class="hero__item">
                    <span>23</span>
                    <p class="hero__text">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero__btn">
            <a class="hero__link" href="#products">
                <button class="btn btn--products" type="button">Products</button>
            </a>
            <a class="hero__link" href="#him">
                <button class="btn--made" type="button">How its made?</button>
            </a>
        </div>
        <div class="plate">
            <picture>
                <source srcset="./images/icecream-plate.png 1x, ./images/icecream-plate@2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/icecream-plate-tablet.png 1x, ./images/icecream-plate-tablet@2x.png 2x" media="(min-width: 768px)" />
                 <img src="./images/icecream-plate.png" alt="Тарілка морозива">
            </picture>
            <div class="plate__text">
                <p> Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor
                    incididunt ut labore et
                    <button class="plate__btn">
                        <svg class="plate__svg">
                            <use href="./images/icon.svg#icon-arrow"></use>
                        </svg>
                    </button>
            </div>
        </div>
        <div>
            <picture class="hero__img">
                <source srcset="./images/icecream.png 1x" media="(min-width: 1200px)" />
                <source srcset="./images/icecream-tablet.png 1x" media="(min-width: 768px)" />
                <source srcset="./images/icecream-mobile.png 1x" media="(max-width: 767px)" />
                <img class="hero__img" src="./images/icecream.png" alt="Морозиво">
            </picture>
        </div>
    </div>
</section>