<div class="backdrop js-modal-container" data-modalBuynow>
  <div class="modal buy-now-modal">
    <button class="modal-close-btn" type="button" data-modalBuynow-close>
      <svg class="modal-close-btn__icon" width="16" height="17">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title modal__title--buy-nov">Buy now</p>
    <ul class="buy-now-modal__list">
      <li class="buy-now-modal__item">
        <label class="buy-now-modal__lable">
          <input
            class="buy-now-modal__radio--classik"
            type="radio"
            name="product"
            value="ice cream"
          />
          <span class="buy-now-modal__radio buy-now-modal__radio--icecream">
            <picture>
              <source
                srcset="
                  ./images/modal-ice-cream.webp    1x,
                  ./images/modal-ice-cream@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/modal-ice-cream.jpg    1x,
                  ./images/modal-ice-cream@2x.jpg 2x
                "
              />
              <img
                src="./images/modal-ice-cream.jpg"
                alt="icecream"
                class="buy-now-modal__img buy-now-modal__img--icecream"
              />
            </picture>
            <p class="buy-now-modal__txt">ice cream</p>
          </span>
        </label>
      </li>
      <li class="buy-now-modal__item">
        <label class="buy-now-modal__lable">
          <input
            class="buy-now-modal__radio--classik"
            type="radio"
            name="product"
            value="ice coffee"
            checked
          />
          <span class="buy-now-modal__radio buy-now-modal__radio--icecofee">
            <picture>
              <source
                srcset="
                  ./images/modal-icecofee.webp    1x,
                  ./images/modal-icecofee@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/modal-icecofee.jpg    1x,
                  ./images/modal-icecofee@2x.jpg 2x
                "
              />
              <img
                src="./images/modal-icecofee.jpg"
                alt="icecream-mobile"
                class="buy-now-modal__img buy-now-modal__img--icecofee"
              />
            </picture>
            <p class="buy-now-modal__txt">ice cofee</p>
          </span>
        </label>
      </li>
      <li class="buy-now-modal__item">
        <label class="buy-now-modal__lable">
          <input
            class="buy-now-modal__radio--classik"
            type="radio"
            name="product"
            value="milkshake"
          />
          <span class="buy-now-modal__radio buy-now-modal__radio--milkshake">
            <picture>
              <source
                srcset="
                  ./images/modal-milkshake.webp    1x,
                  ./images/modal-milkshake@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/modal-milkshake.jpg    1x,
                  ./images/modal-milkshake@2x.jpg 2x
                "
              />
              <img
                src="./images/modal-milkshake.jpg"
                alt="icecream-mobile"
                class="buy-now-modal__img buy-now-modal__img--milkshake"
              />
            </picture>
            <p class="buy-now-modal__txt">milkshake</p>
          </span>
        </label>
      </li>
    </ul>
    <form class="modal-form">
      <label class="label">
        <input
          type="text"
          class="input__field"
          name="user_name"
          placeholder="Name"
          pattern="^[a-zA-Zа-яА-ЯіІїЇ`ʼ'Єє\s]+$"
          required
        />
      </label>
      <label class="label">
        <input
          type="tel"
          class="input__field"
          name="user_tel"
          placeholder="Phone"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
      </label>
      <label class="comment">
        <textarea
          name="modal-comment-txt"
          class="comment__txt"
          placeholder="Comment"
        ></textarea>
      </label>
      <div class="modal-btn-block">
        <button class="btn modal-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="backdrop" data-modalproducts>
  <div class="modal product-modal">
    <button class="modal-close-btn" type="button" data-modalproducts-close>
      <svg class="modal-close-btn__icon" width="16" height="17">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title modal__title--product">Chololate<br />icecream</p>
    <div class="product-modal__picture">
      <picture>
        <source
          srcset="
            ./images/modal-ingredients-ice-cream.webp    1x,
            ./images/modal-ingredients-ice-cream@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/modal-ingredients-ice-cream.jpg    1x,
            ./images/modal-ingredients-ice-cream@2x.jpg 2x
          "
        />
        <img
          src="./images/modal-ingredients-ice-cream.jpg"
          alt="icecream-mobile"
          class="product-modal__img"
        />
      </picture>
    </div>
    <ul class="product-characteristics-list">
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">320</div>
          <p class="product-characteristics-list__txt">kcal</p>
        </div>
      </li>
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">4g</div>
          <p class="product-characteristics-list__txt">Prote...</p>
        </div>
      </li>
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">8,2g</div>
          <p class="product-characteristics-list__txt">Fats</p>
        </div>
      </li>
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">40,4g</div>
          <p class="product-characteristics-list__txt">Carbs</p>
        </div>
      </li>
    </ul>
    <div class="ingredients">
      <p class="ingredients__title">Ingredients</p>
      <ul class="ingredients__list">
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Milk</p>
            <p class="ingredients__value">100ml</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Belgian chocolate</p>
            <p class="ingredients__value">20g</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Cream</p>
            <p class="ingredients__value">150 ml</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Cocoa powder</p>
            <p class="ingredients__value">30g</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Sugar</p>
            <p class="ingredients__value">40g</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Vanilla sugar</p>
            <p class="ingredients__value">10g</p>
          </div>
        </li>
      </ul>
    </div>
    <form class="modal-form">
      <label class="label">
        <input
          type="text"
          class="input__field"
          name="user_name"
          placeholder="Name"
          pattern="^[a-zA-Zа-яА-ЯіІїЇ`ʼ'Єє\s]+$"
          required
        />
      </label>
      <label class="label">
        <input
          type="tel"
          class="input__field"
          name="user_tel"
          placeholder="Phone"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
      </label>
      <label class="comment">
        <textarea
          name="modal-comment-txt"
          class="comment__txt"
          placeholder="Comment"
        ></textarea>
      </label>
      <div class="modal-btn-block">
        <button class="btn modal-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="backdrop" data-modalfranchise>
  <div class="modal franchise-modal">
    <button class="modal-close-btn" type="button" data-modalfranchise-close>
      <svg class="modal-close-btn__icon" width="16" height="17">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">
      Thank you for your<br />interest in owning an<br />Ice Cream shop
    </p>
    <p class="franchise-modal__txt">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="franchise-modal-form">
      <label class="label">
        <input
          type="text"
          class="input__field"
          name="user_name"
          placeholder="Name"
          pattern="^[a-zA-Zа-яА-ЯіІїЇ`ʼ'Єє\s]+$"
          required
        />
      </label>
      <label class="label">
        <input
          type="tel"
          class="input__field"
          name="user_tel"
          placeholder="Phone"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
      </label>
      <label class="label">
        <input
          type="email"
          class="input__field"
          name="user_post"
          placeholder="Email"
          required
        />
      </label>
      <label class="comment">
        <textarea
          name="modal-comment-txt"
          class="comment__txt"
          placeholder="Comment"
        ></textarea>
      </label>
      <div class="modal-btn-block">
        <button class="btn modal-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
