<div class="backdrop" data-modalLocation>
  <div class="modal-location">
    <button class="modal-close-btn">
      <svg class="modal-location__svg" data-modalLocation-close>
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>

    <h3 class="modal-location__title">Our Locations</h3>

    <picture>
      <source
        srcset="./images/maps.jpg 1x, ./images/maps@2x.jpg 2x"
        media="(max-width:767px)"
      />

      <source
        srcset="./images/mapstd.jpg 1x, ./images/mapstd@2x.jpg 2x"
        media="(min-width:768px)"
      />

      <img class="modal-location__photo" src="#" alt="maps" />
    </picture>

    <a
      class="modal-location__link"
      target="_blank"
      href="https://goo.gl/maps/BXb1tAfyKdmtJUC37"
      >Open map</a
    >
  </div>
</div>
