<div class="backdrop is-hidden" data-modal>
  <div class="buy-now-modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      временно - закрыть
    </button>
    <p class="modal__title">Buy now</p>
    <ul class="buy-now-modal__list">
      <li class="buy-now-modal__item">
        <label>
          <input type="radio" name="product" value="ice cream" />
          ice cream
        </label>
      </li>
      <li class="buy-now-modal__item">
        <label>
          <input type="radio" name="product" value="ice coffee" checked />
          ice coffee
        </label>
      </li>
      <li class="buy-now-modal__item">
        <label>
          <input type="radio" name="product" value="milkshake" />
          milkshake
        </label>
      </li>
    </ul>
    <form class="modal-form">
      <label class="label">
        <input
          type="text"
          class="input__field"
          name="user_name"
          placeholder="Name"
          required
        />
      </label>
      <label class="label">
        <input
          type="tel"
          class="input__field"
          name="user_tel"
          placeholder="Phone"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
      </label>
      <label class="comment">
        <textarea
          name="modal-comment-txt"
          class="comment__txt"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="modal-btn-submit" type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="backdrop is-hidden" data-modal>
  <div class="product-modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      временно - закрыть
    </button>
    <p class="modal__title">Chololate icecream</p>
    <div>заглушка для картинки - заменится</div>
    <ul class="product-characteristics-list">
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">320</div>
          kcal
        </div>
      </li>
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">4g</div>
          Protein...
        </div>
      </li>
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">8,2g</div>
          Fats
        </div>
      </li>
      <li class="product-characteristics-list__item">
        <div class="product-characteristics-list__block">
          <div class="product-characteristics-list__value">40,4g</div>
          Carbs
        </div>
      </li>
    </ul>
    <div class="ingredients">
      <ul class="ingredients__list">
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Milk</p>
            <p class="ingredients__value">100ml</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Belgian chocolate</p>
            <p class="ingredients__value">20g</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Cream</p>
            <p class="ingredients__value">150 ml</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Cocoa powder</p>
            <p class="ingredients__value">30g</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Sugar</p>
            <p class="ingredients__value">40g</p>
          </div>
        </li>
        <li class="ingredients__item">
          <div class="ingredients__content">
            <p class="ingredients__value">Vanilla sugar</p>
            <p class="ingredients__value">10g</p>
          </div>
        </li>
      </ul>
    </div>
    <form class="modal-form">
      <label class="label">
        <input
          type="text"
          class="input__field"
          name="user_name"
          placeholder="Name"
          required
        />
      </label>
      <label class="label">
        <input
          type="tel"
          class="input__field"
          name="user_tel"
          placeholder="Phone"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
      </label>
      <label class="comment">
        <textarea
          name="modal-comment-txt"
          class="comment__txt"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="modal-btn-submit" type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="backdrop is-hidden" data-modal>
  <div class="franchise-modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      временно - закрыть
    </button>
    <p class="modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="franchise-modal__txt">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="franchise-modal-form">
      <label class="label">
        <input
          type="text"
          class="input__field"
          name="user_name"
          placeholder="Name"
          required
        />
      </label>
      <label class="label">
        <input
          type="tel"
          class="input__field"
          name="user_tel"
          placeholder="Phone"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
      </label>
      <label class="label">
        <input
          type="email"
          class="input__field"
          name="user_post"
          placeholder="Email"
          required
        />
      </label>
      <label class="comment">
        <textarea
          name="modal-comment-txt"
          class="comment__txt"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="modal-btn-submit" type="submit">Submit</button>
    </form>
  </div>
</div>
