<section class="section fons-section">
  <div class="container">
    <p class="section__lable section__lable--dark" id="products">
      100% natural
    </p>
    <h2 class="section__title section__title--dark">products</h2>
    <ul class="product__list">
      <li class="product__item">
        <div class="product">
          <h3 class="product__name">ice cream</h3>
          <p class="product__description">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button type="button" class="product__btn" data-modalproducts-open>
          <svg class="product__icon_btn" width="40" height="20">
            <use href="./images/icon.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="product__item">
        <div class="product">
          <h3 class="product__name">ice coffee</h3>
          <p class="product__description">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button type="button" class="product__btn" data-modalproducts-open>
          <svg class="product__icon_btn" width="40" height="20">
            <use href="./images/icon.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="product__item">
        <div class="product">
          <h3 class="product__name">milkshakes</h3>
          <p class="product__description">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button type="button" class="product__btn" data-modalproducts-open>
          <svg class="product__icon_btn" width="40" height="20">
            <use href="./images/icon.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
