<section class="section fons-section">
  <div class="container">
    <p class="section__lable section__lable--dark">100% natural</p>
    <h2 class="section__title section__title--dark">products</h2>
    <ul class="product__list">
      <li class="product__item">
        <div class="product">
          <h3 class="product__name">ice cream</h3>
          <p class="product__description">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button type="button" class="btn-arrow">
            <svg class="icon-btn" width="40" height="0">
              <use href="./images/icon.svg#icon-Arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product__item">
        <div class="product">
          <h3 class="product__name">ice coffee</h3>
          <p class="product__description">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button type="button"></button>
        </div>
      </li>
      <li class="product__item">
        <div class="product">
          <h3 class="product__name">milkshakes</h3>
          <p class="product__description">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button type="button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
